      
name: Pack Dominio + Push no NuGet

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pack-push:
    env:
      PROJECT_PATH: ./src/Ibtp.Core/Ibpt.Core.csproj

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Ibpt
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
 # NuGet server uri hosting the packages, defaults to https://api.nuget.org
          # NUGET_SOURCE: https://api.nuget.org        

    - name: Packet generator
      run: dotnet pack ${{ env.PROJECT_PATH }} -c Release -o out

    - name: Push to NuGet
      run: |
        cd out
        dotnet nuget push *.nupkg --api-key ${{ secrets.API_KEY }} --source 'https://api.nuget.org' --skip-duplicate      
